name: release
on:
  push:
    tags:
      - v*.*.*
jobs:
  publish_binary:
    name: publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - name: Unshallow
      run: git fetch --prune --unshallow
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version-file: 'provider/go.mod'
        cache-dependency-path: 'provider/go.sum'
        cache: true
    - name: Install pulumictl
      uses: jaxxstorm/action-install-gh-release@v1.7.1
      with:
        repo: pulumi/pulumictl
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: release-notes
      run: make release-notes
    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v3.1.0
      with:
        args: -p 3 release --rm-dist --release-notes=_out/RELEASE_NOTES.md
        version: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
