name: Upgrade provider

on:
  workflow_dispatch:
  schedule:
    - cron: 0 5 * * *

jobs:
  upgrade_provider:
    name: upgrade-provider
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Call upgrade provider action
        uses: pulumi/pulumi-upgrade-provider-action@v0.0.11
        env:
          GH_TOKEN: ${{ github.token }}
